<h3>{{name}}</h3>
{{#if finished}}
  <div class="btn_bar">
    <button class="btn btn-primary" {{action restart}}>Restart</button>
  </div>
  <div class="study_results">
      You got {{correctCount}} out of {{total}} of right
  </div>
{{else}}
    <div class="btn_bar">
        {{#if showingFront}}
          <button class="btn btn-primary" {{action flip}}>Flip</button>
        {{else}}
          <button class="btn btn-danger" {{action correct}}>Correct</button>
          <button class="btn btn-danger" {{action wrong}}>Wrong</button>
        {{/if}}
    </div>
    <div>
    {{#unless showingFront}}
        <div id="cardBack" class="card span6">
            {{back}}
        </div>
    {{/unless}}
        <br/>
        <div id="cardFront" class="card span6">
            {{front}}
        </div>
    </div>
{{/if}}
