<table class="cards table table-striped table-hover">
  <tr>
    <th class="span1">Front</th>
    <th class="span5">Back</th>
    <th class="span1"></th>
  </tr>

  {{#each controller}}
      {{#if isEditing}}
        {{view App.CardEditView}}
      {{else}}
      <tr>
        <td><i {{bindAttr class="doneIcon"}}></i></td>
        <td>{{front}}</td>
        <td>{{back}}</td>
        <td class="actions">
          <button class="btn btn-mini btn-warning" {{action enterEditMode this}}>Edit</button>
          <button class="btn btn-mini btn-danger" {{action deleteCard this}}>Delete</button>
        </td>
      </tr>
      {{/if}}
  {{else}}
    <tr>
      <td colspan="4">No cards, yet.</td>
    </tr>
  {{/each}}
</table>

<div class="actions trailer">
  <button class="btn btn-primary" {{action addCard}} {{bindAttr disabled="isAddingNew"}}>Add Card</button>
</div>
