{{#if view.content.isEditing}}
  <td>{{view Bootstrap.Forms.TextField valueBinding="view.content.front"}}</td>
  <td>{{view Bootstrap.Forms.TextField valueBinding="view.content.back"}}</td>
  <td class="actions">
    <button class="btn btn-mini btn-primary" {{action save view.content}}>Save</button>
    <button class="btn btn-mini btn-danger" {{action deleteCard view.content}}>Delete</button>
    <button class="btn btn-mini" {{action cancelEditMode view.content}}>Cancel</button>
  </td>
{{else}}
  <td>{{view.content.front}}</td>
  <td>{{view.content.back}}</td>
  <td class="actions">
    <button class="btn btn-mini btn-warning" {{action enterEditMode view.content}}>Edit</button>
  </td>
{{/if}}
