!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Crambear"
      %meta{:content => content_for?(:description) ? yield(:description) : "Crambear", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
    :javascript
      App.ready = function() {
        App.initApp(jQuery.parseJSON('#{current_user_json}'))
      }
  %body
    = yield

